@charset "UTF-8";
:root {
  --bg-color: #F3F9FF;
  --text-color: #0A1170;
  --contrast-color: #ffa500;
}

.dark {
  --bg-color: #0A1170;
  --text-color: #F3F9FF;
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-style: italic;
  color: inherit;
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  background-size: auto 1.5rem;
}

.allwrap {
  display: grid;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-columns: 1fr 4fr;
}

.hidden {
  display: none;
}

.link {
  font-size: 0.8rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.link::after, .link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 105%;
  background-color: var(--contrast-color);
  opacity: 30%;
  z-index: -1;
  transform: scaleX(1);
  transition: transform 0.2s;
  transform-origin: left;
  transition-timing-function: ease-in;
}
.link::before {
  height: 10%;
}
.link:hover {
  color: var(--contrast-color);
}
.link:hover::after, .link:hover::before {
  transform: scaleX(0);
  transition: transform 0s;
}

.title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 3rem;
  line-height: 1;
}

.partie {
  padding-top: 4rem;
  width: 360px;
  padding: 4rem 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.partie--first {
  padding-top: 10rem;
}
.partie .section:last-child {
  margin-bottom: 0;
}
.partie--footer {
  padding-bottom: 0;
}

.section {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 4rem;
}
.section :last-child {
  margin-bottom: 0;
}
.section__title {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
.section__title--big {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.section__title--small {
  font-size: 2rem;
}
.section__text {
  margin-bottom: 4rem;
  grid-column: 1/-1;
}
.section__text--intro {
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.intro__link {
  grid-column: 1/-1;
}

.questions {
  list-style-type: none;
  counter-reset: li;
  grid-column: 1/-1;
  margin-bottom: 1rem;
}

.question {
  width: 100%;
  height: auto;
  font-weight: 600;
  background-color: var(--text-color);
  color: var(--bg-color);
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  position: relative;
  counter-increment: li;
  box-shadow: var(--contrast-color) 3px 3px 10px;
}
.question::before {
  content: counter(li);
  color: var(--contrast-color);
  font-size: 2rem;
  font-family: "Permanent Marker", sans-serif;
  position: absolute;
  top: -2rem;
  left: -0.5rem;
  transform: rotate(-15deg);
}

.problemes {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.probleme {
  width: 45%;
  text-align: center;
}
.probleme:hover {
  scale: 1.1;
}

.answers {
  grid-column: 1/-1;
  cursor: pointer;
  border-bottom: solid 2px var(--text-color);
  margin-bottom: 2rem;
  position: relative;
}
.answers::after {
  content: "placeholder";
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(100px);
  opacity: 0;
  transition: all 0;
}
.answers:hover::after {
  transform: translateX(0px);
  opacity: 1;
  transition: transform 0.2s, opacity 0.4s;
}
.answers:hover .answers__title {
  color: var(--contrast-color);
}
.answers__title {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  list-style-type: none;
}
.answers__title::after {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--contrast-color);
  content: "+";
  font-size: 2rem;
  transition: all 0.2s;
}
.answers[open] .answers__title::after {
  transform: rotate(-45deg);
}

.besoins {
  grid-column: 1/-1;
}

.besoin {
  font-family: "Permanent Marker", sans-serif;
  font-size: 1.5rem;
}
.besoin::marker {
  content: "–";
  color: var(--contrast-color);
}

.solutions {
  list-style-type: none;
  margin-bottom: 2rem;
}

.solution::before {
  content: url(../images/fleur.svg);
  width: 2rem;
  height: auto;
}

.footer__wrapper {
  width: 100%;
  background-color: var(--text-color);
}

.footer__title {
  grid-column: 1/-1;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--bg-color);
}
.footer__list {
  grid-column: 1/-1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footer__link {
  color: var(--bg-color);
}
.footer__link:hover {
  color: var(--contrast-color);
}
.footer__copyright {
  padding-bottom: 1rem;
  grid-column: 1/-1;
  color: var(--contrast-color);
  display: block;
  text-align: center;
}
.footer__copyright a:hover {
  text-decoration: underline;
}

.nav {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  transform: translateX(-100%);
  transition: transform 0.2s;
}
.nav--open {
  transform: translateX(0);
}
.nav__btn {
  z-index: 20;
  margin-left: 1rem;
  margin-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  border-radius: 50%;
  box-shadow: var(--text-color) 2px 2px 4px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.nav__btn:hover {
  background-color: var(--contrast-color);
}
.nav__btn:hover .nav__burger {
  background-color: var(--text-color);
}
.nav__burger {
  display: block;
  height: 3px;
  width: 25px;
  background-color: var(--bg-color);
  border-radius: 10px;
}
.nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.nav__link {
  font-family: "Permanent Marker", sans-serif;
  font-size: 2rem;
  color: var(--text-color);
}
.nav__link:hover {
  color: var(--contrast-color);
}
.nav__link--active {
  color: var(--contrast-color);
}

@media screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
  .partie {
    width: 720px;
  }
  .besoins {
    grid-column: 2/-1;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    box-sizing: border-box;
    transform: translateX(0);
    width: 100vw;
    height: 3rem;
  }
  .nav__list {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .nav__link {
    font-size: 1.5rem;
  }
  .nav__btn {
    display: none;
    visibility: hidden;
  }
  .partie {
    width: 1280px;
    padding: 8rem 2rem;
  }
  .partie--footer {
    padding-bottom: 0;
    padding-top: 2rem;
  }
  .questions {
    grid-column: 3/-1;
  }
  .answers {
    grid-column: 3/-1;
  }
  .besoin {
    font-size: 2rem;
  }
  .header__text {
    grid-column: 2/-2;
  }
  .section {
    grid-template-columns: repeat(5, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .section__title {
    font-size: 5rem;
  }
  .section__title--small {
    grid-column: 2/-1;
    font-size: 3.5rem;
  }
  .section__title--big {
    font-size: 10rem;
  }
  .section__text {
    grid-column: 2/5;
  }
  .section__text--intro {
    grid-column: 1/-3;
  }
  .intro__link {
    grid-column: 1/-3;
  }
}/*# sourceMappingURL=style.css.map */